body {
  background-color: whitesmoke;
  font-family: Arial, sans-serif;
}

.container {
  height: 90vh;
  margin: 20px auto;
  overflow: hidden;
  background-color: rgba(29, 36, 32, 0.705);
  border: 5px solid rgba(20, 15, 15, 0.486);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 5px;
  padding: 5px 15px;
  border-radius: 10px;
}

.button {
	display: flex;
  justify-content: center;
	align-items: center;
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid rgba(10, 10, 10, 0.63);
  font-size: 1.2rem;
}

.display {
  grid-column: 1 / span 4;
  background-color: rgb(255, 255, 255);
  font-size: 5rem;
  display: flex;
  justify-content: flex-end;
	align-items: flex-end;
  padding: -10px;
  border-radius: 10px;
  border: 3px solid rgba(15, 13, 13, 0.76);
}

.pressed {
  box-shadow: 4px  #DBEDF3;
  opacity: 0.6;
}

.number, .dot {
	background-color: rgba(248, 160, 28, 0.842);
}

.clear {
	background-color: rgb(231, 8, 8);
}

.equal {
  background-color: green;
}

.oprator,.plus_minus, .percentage {
	background-color: rgb(250, 127, 82);
}

@media (max-width:560px) {
  .container {
    width: 90%;
  }
}

@media (min-width:560px) {
  .container {
    width: 70%;
  }
}

@media (min-width:785px) {
  .container {
    width: 60%;
  }
}

@media (min-width:992px) {
  .container {
    width: 40%;
  }
}